{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
    <div class="post-header">
    <h1> Post by {{ posts[0].author.username }}</h1>
    </div>
    {% include '_posts.html' %}
    {% if current_user.can(Permission.COMMENT) %}
        <h3 id="comments">Comments</h3>

        <div class="comment-form">
            {{ wtf.quick_form(form) }}
        </div>
    {% endif %}
    {% include '_comments.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.post',fragment='#comments', id=posts[0].id) }}
        </div>
    {% endif %}
{% endblock %}